@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}

input[type="date"] {
  display:block;
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  min-height: 1.2em; 
}